:root {
    --primary-bg: #323442;
    --primary-border: #4f5268;
    --dark-orange: #e59000;
}

* {
    font-family: "varela round";
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    background-color: var(--primary-bg);
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: transparent;
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    color: white;
}

.logo-box {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-link {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
}

#menu-title {
    font-family: "bukhari";
    font-size: 45px;
    color: var(--dark-orange);
}

#menu-logo {
    width: 70px;
    position: relative;
    right: 10px;
    bottom: 5px;
}

.menu {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

a.menu-el {
    width: 170px;
    text-align: center;
    padding: 12px 0px;
    transition-duration: 0.3s;
    margin: 15px;
    font-family: "alyssum";
    color: white;
}

a.menu-el:hover {
    background-color: var(--dark-orange);
}

.contact-box {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contacts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.7;
    border: 4px solid var(--primary-border);
    padding: 8px 30px 8px 33px;
}

.contact {
    font-size: 20px;
    color: var(--dark-orange);
    transition-duration: .3s;
}

.contact:hover {
    color: white;
}

.menu-i {
    font-size: 20px;
    position: relative;
    right: 5px;
    color: var(--dark-orange);
}

.mailto {
    color: var(--dark-orange);
    transition-duration: .3s;
    padding: 12px 22px;
}

.mailto:hover {
    color: white;
    background-color: var(--dark-orange);
}

.submenu {
    position: fixed;
    left: 50%;
    top: 120px;
    background-color: var(--primary-bg);
    border: 8px solid var(--primary-border);
    transform: translate(-50%);
    width: 700px;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.submenu-el {
    height: 100%;
    width: 33.333333%;
    text-align: center;
    font-size: 20px;
    font-family: "alyssum";
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    transition-duration: .3s;
    transition-property: opacity, background-color;
}

.submenu-el:hover {
    background-color: var(--primary-border);
}

#submenu-1 {
    background-image: url("/img/pasta.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 140px;
    border-right: 5px solid var(--primary-border);
}

#submenu-2 {
    background-image: url("/img/chicken.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 125px;
    border-right: 5px solid var(--primary-border);
}

#submenu-3 {
    background-image: url("/img/dessert.png");
    background-position-x: center;
    background-position-y: 5px; 
    background-repeat: no-repeat;
    background-size: 125px;
}

.inactive {
    display: none;
}

.active {
    display: inherit!important;
}